/* Upper Section */
nav{
	height: 70px;
	background-color: #434743;
}

.logo{
	float: left;
	padding: 15px;
	padding-left: 30px;
	margin-right: 30px;
}

nav ul{
	list-style: none;
	margin-right: 10%;
}

nav ul li{
	margin-top: 27.5px;
	margin-left: 55px;
	float: right;
}

.check{
	padding-bottom: 5px;
}

.navp{
	margin-left: 5px;
	float: right;
}

/*  Gray section */

#graysection{
	max-width: 100%;
	height: 80px;
	background-image: url("../assets/greypattern.jpg");
}

#gray{
	height: 80px;
}

#gray ul{
	right: 2.5%;
	margin: 0 auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	position: relative;
	list-style: none;
}

#gray ul li{
	position: relative;
	float: left;
	height: 80px;
}

/* Gray section ul and items */

.widthone{
	width: 175px;
	border-bottom: 5px solid #929f00;
}

.arrowdown{
	position: relative;
	top: -53px;
}

.number{
	margin-top: -20px;
}

.numberp{
	position: relative;
	left: 40px;
	top: -60px;
}

.widthtwothree .numberp{
	left: 45px;
}

.menuarrow{
	position: relative;
	margin-top: 22.5px;
	margin-left: 45px;
	margin-right: 55px;
}

.arrowtwo{
	margin-left: 85px;
}

/* Main section */

#mainsection{
	height: 500px;
	background-image: url("../assets/mainsection.jpg");
	-webkit-background-size: 100% 100%;           
	-moz-background-size: 100% 100%;           
	-o-background-size: 100% 100%;           
	background-size: 100% 100%;
	background-position: center;
}

.mainheader{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 50px;
}

.mainrectangle{
	height: 225px;
	width: 900px;
	background-color: #fff;
	border: 5px solid #d5d4d3;
	border-radius: 10px;
	margin: 0 auto;
}

.mainrectangle .row{
	margin: 0;
	display: inline;
}

.rectangleimg{
	margin-left: 150px;
	margin-top: 30px;
	float: left;
}

/* Area input, label and button */

.form{
	margin-top: -65px;
	margin-left: 280px;
}

.form p{
	position: relative;
	bottom: 6px;
	float: left;
}

.form-control{
	position: relative;
	bottom: 2px;
	width: 90px;
	height: 35px;
	margin-left: 25px;
	display: inline-block;
	float: left;
}

/* Removing input field arrows due to number validation */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}

.squaremeter{
	top: 5px;
	position: relative;
	float: left;
	margin-left: 10px;
}

/* "Weiter" button */

.forwardbtn{
	padding-top: 8px;
	position: relative;
	bottom: 10px;
	margin-left: 190px;
	background:#929f00;
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	line-height: 0.9;
	text-align: center;
	border-color: #ececec;
	border-radius: 7.5px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.forwardbtn .textarea{
	padding-top: 5px;
}

.arrow{
	margin-bottom: 2px;
	margin-left: 15px;
}

/* Slider */

#slider{
	width: 450px;
	height: 9px;
	border: 1px solid #ececec;
	border-radius: 20px;
	float: right;
	margin-right: 160px;
	margin-top: 65px;
}

.ui-slider .ui-slider-handle{
	top: -.5em;
	width: 25px ;
	height: 25px;
	border: none;
	-moz-border-radius: 12.5px;
	-webkit-border-radius: 12.5px;
	background: #929f00;
	border-radius: 12.5px;
	cursor: pointer;
}

.ui-slider-handle:focus{
	outline: none;
	border: none;
}

/* Lines and text below slider */

.lines{
	margin-top: 7px;
	height: 15px;
	border-left: 3px solid #d5d4d3;
	position: absolute;
}

.lone{
	left: 38px;
}

.ltwo{
	right: 37px;
}

.linesp{
	position: relative;
	line-height: 16px;
}

.pone{
	bottom: 40px;
	left: 292.5px;
	max-width: 75px;
}

.ptwo{
	left: 665px;
	bottom: 82.5px;
	max-width: 55px;
}

.slider-tip {
	opacity:1;
	bottom:120%;
	margin-left: -2.65em;
}

/* Footer */

footer{
	height: 165px;
	background: url("../assets/footerbackground.jpg");
	max-width: 100%;
	padding: 15px;
}

footer ul{
	padding: 0;
	text-align: center;
	list-style: none;
}

footer ul li{
	padding-left: 10px;
	padding-left: 10px;
	display: inline;
}


/* Typography */

.navp{
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.2;
}

h2 {
	font-size: 2.2em;
	font-family: 'Open Sans', sans-serif;
	color: rgb(67, 71, 67);
	line-height: 1.813;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.number{
	font-size: 3.75em;
	font-family: 'Open Sans', sans-serif;
	color: rgb(146, 159, 0);
	font-weight: 900;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	-webkit-transform:scale(1.4, 1.0);
	-moz-transform:scale(1.4, 1.0);
	-ms-transform:scale(1.4, 1.0);
	-o-transform:scale(1.4, 1.0);
	transform:scale(1.4,1.0);
}

.numberp {
	font-size: 1.35em;
	font-family: "Open Sans";
	color: rgb(146, 159, 0);
	line-height: 24px;
	font-weight: 700;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5)
}

.widthtwothree .number, .restgrayp{
	color: #aeaeae;
}

.linesp{
	font-size: 0.90em;
	font-family: 'Open Sans', sans-serif;
	color: rgb(40, 51, 44);
}

.form p {
	font-size: 1.10em;
	font-family: 'Open Sans', sans-serif;
	color: rgb(40, 51, 44);
}

.tooltip-inner {
	font-size: 20px;
	background: #434743;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	line-height: 1.2;
	padding-left: 15px;
	padding-right: 15px;
}

/******* MEDIA QUERIES *******/

/* Changes are mostly on the lists layout and visibility of items on 
smaller screens. Also adjusting position of slider indicators, font size, margins
etc. */

/* Adjusting footer for laptops and smaller computer screens */

@media only screen and (max-width: 1599px) and (-webkit-min-device-pixel-ratio: 1) {
	footer ul li img{
		width: 450px;
	}

	.footerimg3{
		display: none;
	}
}

/* Smaller notebooks/netbooks */

@media only screen and (min-width: 960px) and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 1) {
	.navul{
		margin-right: 0;
	}

	.navul li:last-child{
		display: none;
	}

	.navp{
		font-size: 1em;
	}

	.menuarrow{
		margin-left: 35px;
		margin-right: 45px;
	}

	.arrowtwo{
		margin-left: 70px;
	}

	.numberp {
		left: 35px;
		font-size: 1.25em;
	}

	.widthtwothree .numberp{
		left: 40px;
	}

	#gray ul{
		left: -45px;
	}

	.mainheader{
		position: relative;
		margin-top: 35px;
		margin-bottom: 15px;
	}

}

/* Ensuring no screen size is left unchecked, adjusting mostly gray section
layout and navbar hidden/visible items */

@media only screen and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1) {
	.logo{
		margin: 0 auto;
		float: none;
	}

	.logo img{
		display: block;
		margin: 0 auto;
	}

	.navul{
		display: none;
	}

	.widthone{
		width: 140px;
	}

	.menuarrow{
		margin-left: 20px;
		margin-right: 20px;
	}

	.arrowtwo{
		margin-left: 50px;
	}

	.arrowdown{
		top: -55.5px;
		width: 140px;
	}

	#gray ul{
		left: -6.5%;
	}

	.numberp {
		left: 30px;
		font-size: 1.07em;
		letter-spacing: 0.01px;
		top: -58px;
	}

	.widthtwothree .numberp{
		left: 35px;
	}

	.mainheader{
		margin-top: 35px;
		margin-bottom: 5px;
	}

	footer{
		padding: 0;
		padding-top: 25px;
	}

	footer ul li{
		padding-left: 5px;
		padding-right: 5px;
	}

	footer ul li img{
		width: 360px;
		height: 120px;
	}

}

/* Tablet styling */

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
	.logo{
		padding-top: 22.5px;
		padding-left: 0;
	}

	.logo img{
		max-width: 175px;
	}

	#gray ul{
		left: -4%;
	}

	.widthone{
		width: 140px;
	}

	.arrowdown{
		top: -55px;
		width: 140px;
	}

	.menuarrow{
		margin-left: 20px;
	}

	.arrowtwo{
		margin-left: 60px;
	}

	.mainrectangle{
		width: 730px;
	}

	.rectangleimg{
		margin-left: 120px;
	}

	#slider{
		width: 360px;
		margin-right: 105px;
	}

	.lone{
		left: 31px;
	}

	.ltwo{
		right: 28px;
	}

	.pone{
		left: 260.5px;
	}

	.ptwo{
		left: 560px;
	}

	.form{
		margin-left: 255px;
	}

	.form p{
		font-size: 1em;
	}

	.form-control{
		width: 70px;
		margin-left: 20px;
	}

	.forwardbtn{
		margin-left: 150px;
		width: 115px;
	}

	h2 {
		font-size: 1.75em;
	}

}

/* Smaller tablets and bigger smartphones */

@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
	.logo{
		padding: 0;
		padding-top: 22.5px;
	}

	.logo img{
		max-width: 155px;
	}

	#gray ul li{
		display: none;
	}

	#gray ul li:first-child{
		display: block;
	}

	.widthone{
		width: 205px;
	}

	.arrowdown{
		top: -58px;
		width: 205px;
	}

	.number{
		position: relative;
		top: 0px;
		font-size: 4em;
	}

	.mainheader{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		margin-top: 45px;
		max-width: 265px;
	}

	h2{
		font-size: 1.6em;
		line-height: 28px;
	}

	.numberp {
		left: 35px;
		font-size: 1.5em;
		letter-spacing: 1px;
		top: -62.5px;
	}

	/* Changing mainsection background to avoid a squeezed image */

	#mainsection{
		height: 470px;
		background-image: url("../assets/mainsectionsm.jpg");
	}

	.mainrectangle{
		max-width: 290px;
		height: 235px;
	}

	.rectangleimg{
		display: none;
	}

	#slider{
		float: none;
		width: 250px;
		margin: 0 auto;
		margin-top: 45px;
	}

	.linesp{
		bottom: -15px;
	}

	.lone{
		left: 22px;
	}

	.ltwo{
		right: 18px;
	}

	.pone{
		left: 16px;
	}

	.ptwo{
		left: 215px;
		bottom: 27.5px;
	}

	.form{
		margin-left: 16px;
		margin-top: -20px;
	}

	.form p {
		line-height: 14px;
		bottom: 0;
	}

	.form-control{
		margin-left: 10px;
	}

	.forwardbtn{
		height: 40px;
		margin-top: 25px;
		margin-left: 10px;
		font-weight: 500;
		font-size: 16px;
		padding-top: 5px;
	}

	.arrow{
		margin-left: 7.5px;
		height: 12px;
	}

	footer{
		padding-top: 12.5px;
		height: 225px;
	}

	footer ul li{
		display: block;
		padding: 0;
	}

	.footerimg1 img{
		width: 305px;
		padding-top: 5px;
		height: 85px;
	}

	.footerimg2 img{
		width: 305px;
		padding-top: 5px;
		height: 110px;
	}

}

/* Adjusting centering of "Sie beschreiben Ihre Inmobilie" for smartphones */

@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 1) {
	#gray ul{
		left: -5%;
	}

}